@font-face { font-family: Hanken Grotesk; src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf'); } 

:root {
    /*Colors*/
    /*Primary*/
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /*Typography*/
    --font-family: 'Hanken Grotesk', sans-serif;
    
    --font-weight-small: 500;
    --font-weight-medium: 700;
    --font-weight-large: 800;

    --font-size-small: 1.125rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2rem;

    /*Spacing*/
    --space-medium: 1rem;
    --space-large: 2rem;

    /*Screen Sizes*/
    --desktop-screen: 90rem; /*1440px*/
    --mobile-screen: 23.4375rem; /*375px*/

    --section-height: 27rem; /*432px*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: var(--mobile-screen);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 1440px) {
    .card {
        flex-direction: row;
        width: calc(var(--mobile-screen) * 2);
    }
}

.section {
    padding: var(--space-large);
    border-radius: var(--space-large);

    width: var(--mobile-screen);
    height: var(--section-height);
}

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(var(--light-slate-blue), var(--violet-blue), var(--light-royal-blue) 90%);
}

.result-title {
    margin-bottom: var(--space-large);

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-large);
    color: var(--light-lavender);
}

.result-score-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background: var(--violet-blue);
    margin-bottom: var(--space-large);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-score {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--light-lavender);
}

.result-score span {
    display: block;
    clear: both;
    font-size: 3.5rem;
    font-weight: var(--font-weight-large);
    color: var(--white);
}

.result-meaning {
    margin-bottom: var(--space-medium);

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);
    color: var(--white);
}

.result-text {
    margin-bottom: var(--space-medium);
    
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--light-lavender);
}

.summary-section {
    display: flex;
    flex-direction: column;
}

.summary-title {
    text-align: left;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-large);    
    color: var(--dark-gray-blue);
    margin-bottom: var(--space-large);
}

.summary-card {
    width: calc(var(--mobile-screen) - 4rem);
    height: 4rem;
    padding: 1rem;
    margin-bottom: var(--space-medium);
    background-color: aqua;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-card-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.reaction-background {
    background: var(--light-red);
}

.memory-background {
    background: var(--orange-yellow);
}

.verbal-background {
    background: var(--green-teal);
}

.visual-background {
    background: var(--cobalt-blue);
}

.icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.summary-button {
    width: calc(var(--mobile-screen) - 4rem);
    height: 3rem;
    border-radius: 2rem;
}